.K0VUHZTt_0 {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(33.333% - 5px);
  padding: 0 0.159915rem /* 6/37.52 */;
  height: 1.252665rem /* 47/37.52 */;
  line-height: 0.479744rem /* 18/37.52 */;
  margin-bottom: 0.186567rem /* 7/37.52 */;
  margin-right: 0.186567rem /* 7/37.52 */;
  text-align: center;
  font-size: 0.346482rem /* 13/37.52 */;
  font-weight: 600;
  color: #4c4c4c;
  word-break: break-all;
  line-height: 1.6;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  background: #f6f7fb;
  border-radius: 0.159915rem /* 6/37.52 */;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.K0VUHZTt_0:nth-child(2n-1) {
  color: #ae7145;
  background: #fbf5ee;
}
