.my {
  width: 10rem;
  height: 95%;
  background-color: #f8f8f8;
}
.my .my-header {
  height: 1.333333rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  display: inline-block;
}
.my .my-header .my-info {
  width: 100%;
  height: 0.925926rem /* 100/108 */;
  position: fixed;
  top: 0;
  left: 9.037037rem /* 976/108 */;
}
.my .my-header .my-info .iconfont {
  line-height: 0.222222rem /* 24/108 */;
  font-size: 0.518519rem /* 56/108 */;
}
.my .my-body {
  position: relative;
  top: 0.203704rem /* 22/108 */;
  width: 100%;
  height: 4.833333rem /* 522/108 */;
}
.my .my-body .my-body__infoms {
  height: 2.407407rem /* 260/108 */;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.222222rem /* 24/108 */;
  background-color: #fff;
}
.my .my-body .my-body__infoms .my-body__infoms_avatar {
  height: 2.037037rem /* 220/108 */;
  width: 2rem /* 216/108 */;
  border-radius: 50%;
  overflow: hidden;
}
.my .my-body .my-body__infoms .my-body__infoms_avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.my .my-body .my-body__infoms .my-body__infoms_mess {
  position: relative;
  top: 0;
  left: 0;
  height: 2.037037rem /* 220/108 */;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.425926rem /* 46/108 */;
  padding: 0.333333rem /* 36/108 */ 0;
}
.my .my-body .my-body__infoms .my-body__infoms_mess h4 {
  height: 0.703704rem /* 76/108 */;
  font-weight: 400;
  font-family: '微软雅黑';
  color: #4a4a4a;
  line-height: 0.740741rem /* 80/108 */;
}
.my .my-body .my-body__infoms .my-body__infoms_mess .my-body__infoms_mess_phone {
  width: 100%;
  height: 1.018519rem /* 110/108 */;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.333333rem /* 36/108 */;
  line-height: 0.592593rem /* 64/108 */;
  color: #bababa;
  font-weight: 400;
}
.my .my-body .my-body__infoms .my-body__infoms_mess .my-body__infoms_mess_phone a {
  display: flex;
  line-height: 0.555556rem /* 60/108 */;
  color: #d39349;
  font-weight: 400;
  font-family: '微软雅黑';
  text-decoration: none;
}
.my .my-body .my-body__infoms .my-body__infoms_mess .my-body__infoms_mess_phone a span {
  display: block;
  color: #d39349;
  font-size: 0.314815rem /* 34/108 */;
}
.my .my-body .my-body__imgs {
  width: 9.203704rem /* 994/108 */;
  height: 1.425926rem /* 154/108 */;
  display: flex;
}
.my .my-body .my-body__imgs img {
  width: 100%;
  height: 1.425926rem /* 154/108 */;
}
.my .my-body .my-body__tabbars {
  width: 100%;
}
.my .my-body .my-body__tabbars .my-body__tabbars_tabbars1 {
  background: #fff;
  margin-top: 0.314815rem /* 34/108 */;
  padding-left: 0.462963rem /* 50/108 */;
}
.my .my-body .my-body__tabbars .my-body__tabbars_tabbars1 .my-body__tabbars_tabbar_item {
  padding: 0 20px 0 7px;
  height: 1.388889rem /* 150/108 */;
}
