.my{
    width: 10rem;
    height: 95%; 
    .my-header{
        height: 1.1730rem;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        display: inline-block;  
        .my-info{
            width: 100%;
            height: .925926rem /* 100/108 */;
            position: fixed;
            top: 0;
            left: 9.037037rem /* 976/108 */;
            .iconfont{
                line-height: .222222rem /* 24/108 */;
                font-size: .518519rem /* 56/108 */;
            }
            .my-info__badge{
                position: absolute;
                // top: 2px;
                // left: 698px;
                min-width: .611111rem;
                display: inline-block;
                // padding: .15em .4em;                        /* 上下.15  左右.4*/
                // background-color: #F43539;
                // border-radius: 18px;                        /*盒子圆角，超出盒子长宽的的话，就会变成圆形*/
                // color: white;
            }
        }
    }
    .my-body{
        position: relative;
        top: .203704rem /* 22/108 */;
        width: 100%;
        height: 3.703704rem /* 400/108 */;
        .my-body__infoms{
            height: 2.407407rem /* 260/108 */;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .222222rem /* 24/108 */;
            background-color: #fff;
            .my-body__infoms_avatar{
                height: 2.037037rem /* 220/108 */;
                width: 2rem /* 216/108 */;
                border-radius: 50%;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .my-body__infoms_mess{
                flex: 1;
               display: flex;
               flex-direction: column;
               justify-content: center;
               margin-left: .425926rem /* 46/108 */;
               padding: .333333rem /* 36/108 */ 0;
               h3{
                   font-weight: bold;
                //    font-size: ;
               }
            }
        }
    }
}