.forum {
    width: 10rem;
    height: 100%;
}
.forum .forum-header {
    width: 10rem;
    position: fixed;
    display: flex;
    align-items: center;
    height: 1.333333rem /* 144/108 */;
    border-bottom: .018519rem /* 2/108 */ solid #f5f5f5/* 4/108 */;
    top: 0;
    background-color: #ffffff;
}
.forum .forum-header .forum-title {
    font-size: .490741rem /* 53/108 */;
    font-weight: bold;
}
.forum .forum-header .forum-title .forum-name {
    margin-left: .388889rem /* 42/108 */;
    color: #a5a5a5;
}
.forum .forum-header .forum-title .forum-name-active {
    color: #363636;
}
.forum .forum-header .forum-icon {
    flex: 1;
    position: absolute;
    right: .361111rem /* 39/108 */;
    font-size: .490741rem /* 53/108 */;
}
.forum .forum-center  .forum-study {
    height: 4.840085rem /* 181.6/37.52 */;
    padding: .639659rem /* 24/37.52 */ .399787rem /* 15/37.52 */ .533049rem /* 20/37.52 */;
}
.forum .forum-center  .forum-study .forum-title1 {
    height: 1.777778rem /* 192/108 */;
}
.forum .forum-center  .forum-study .forum-box1 {
    width: 100%;
    margin-top: .037037rem /* 4/108 */;
    overflow: hidden;
}
.forum .forum-center  .forum-lesson {
    height: 6.919rem;
}
.forum-footer {
    position: fixed;
    bottom: 0;
    height: 1.333333rem /* 144/108 */;
}