.study{
    width: 10rem;
    height: 95%;
    .study-header{
        width: 100%;
        height: 1.333rem;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        background-color: #fffffa;
        .study-title{
            width: 8.3rem;
            line-height: 1.148148rem /* 124/108 */;
            font-weight: bold;
            font-family: '微软雅黑';
            margin: .3333rem /* 48/108 */;
        }
        span{
            flex: 1;
            right: 0.8rem;
            font-size: .611111rem /* 66/108 */;
            top: .509259rem;
            right: .564815rem;
        }
    }
    .study-body{
        width: 100%;
        height: 3.703704rem /* 400/108 */;
        .study-items{
            margin-top: 20px;
            height: 3.240741rem /* 350/108 */;
            /* 128.588px */
            background-color: #fffffa;
            .study-time{
                // width: 5.592593rem /* 604/108 */;
                width: 5.34rem /* 526/108 */;
                height: .907407rem /* 98/108 */;
                background-color: #fbf7ef;
                font-size: .435185rem /* 47/108 */;
                border-radius: 0 0.45386rem 0.45386rem 0/* 20/108 */ ;
                line-height: .907407rem;
                font-weight: bold;
                .study-time-long{
                    font-family: '微软雅黑';
                    margin: .407407rem /* 44/108 */;
                    .yellow-num{
                        color: #ff870a;
                    }
                    .iconfont .icon-fanhui{
                        width: .240741rem /* 26/108 */;
                    }
                }
            }
            .study-bars{     
                height: 1.851852rem /* 200/108 */;      
                display: flex;
                align-items: center;
                .study-item{
                    width: 2.5rem;
                    text-align: center;
                    .study-item-date{
                        line-height: .462963rem /* 50/108 */;
                        font-family: "BEBAS___";
                        font-size: 24px;
                        color:#404040;
                    }
                    .study-item-name{
                        line-height: .314815rem /* 34/108 */;
                        font-size: .314815rem /* 34/108 */;
                        font-weight: 500;
                        font-weight: bold;
                        color: #888;
                        margin-top: .351852rem /* 38/108 */;
                    }
                }
            }
        }
        .study-order{
            width: 100%;
            margin-top: 2.166667rem /* 234/108 */;
            text-align: center;
            .study-tips{
                color: #b2b2b2;
                font-size: .37037rem /* 40/108 */;
                font-weight: bold;
                line-height: .333333rem /* 36/108 */;
            }
            .study-btn{
                height: .851852rem /* 92/108 */;
                width: 3.333333rem /* 360/108 */;
                background-color: #fa8919;
                border-radius: 20px;
                border: 1px solid #fa8919;
                color: #f5ffff;
                font-size: .462963rem /* 50/108 */;
                margin-top: .333333rem /* 36/108 */;
            }
        }
    }
    .study-footer{
        position: fixed;
        bottom: 0;
        height: 1.333333rem /* 144/108 */;
    }
}