.study {
  width: 10rem;
  height: 95%;
}
.study .study-header {
  width: 100%;
  height: 1.333rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: #fffffa;
}
.study .study-header .study-title {
  width: 8.3rem;
  line-height: 1.148148rem /* 124/108 */;
  font-weight: bold;
  font-family: '微软雅黑';
  margin: 0.3333rem /* 48/108 */;
}
.study .study-header span {
  flex: 1;
  right: 0.8rem;
  font-size: 0.611111rem /* 66/108 */;
  top: 0.509259rem;
  right: 0.564815rem;
}
.study .study-body {
  width: 100%;
  height: 100vh;
}
.study .study-body .study-items {
  margin-top: 20px;
  height: 3.240741rem /* 350/108 */;
  /* 128.588px */
  background-color: #fffffa;
}
.study .study-body .study-items .study-time {
  width: 5.34rem /* 526/108 */;
  height: 0.907407rem /* 98/108 */;
  background-color: #fbf7ef;
  font-size: 0.435185rem /* 47/108 */;
  border-radius: 0 0.45386rem 0.45386rem 0 /* 20/108 */;
  line-height: 0.907407rem;
  font-weight: bold;
}
.study .study-body .study-items .study-time .study-time-long {
  font-family: '微软雅黑';
  margin: 0.407407rem /* 44/108 */;
}
.study .study-body .study-items .study-time .study-time-long .yellow-num {
  color: #ff870a;
}
.study .study-body .study-items .study-time .study-time-long .iconfont .icon-fanhui {
  width: 0.240741rem /* 26/108 */;
}
.study .study-body .study-items .study-bars {
  height: 1.851852rem /* 200/108 */;
  display: flex;
  align-items: center;
}
.study .study-body .study-items .study-bars .study-item {
  width: 2.5rem;
  text-align: center;
}
.study .study-body .study-items .study-bars .study-item .study-item-date {
  line-height: 0.462963rem /* 50/108 */;
  font-family: "BEBAS___";
  font-size: 24px;
  color: #404040;
}
.study .study-body .study-items .study-bars .study-item .study-item-name {
  line-height: 0.314815rem /* 34/108 */;
  font-size: 0.314815rem /* 34/108 */;
  font-weight: 500;
  font-weight: bold;
  color: #888;
  margin-top: 0.351852rem /* 38/108 */;
}
.study .study-body .study-order {
  width: 100%;
  margin-top: 2.166667rem /* 234/108 */;
  text-align: center;
}
.study .study-body .study-order .study-tips {
  color: #b2b2b2;
  font-size: 0.37037rem /* 40/108 */;
  font-weight: bold;
  line-height: 0.333333rem /* 36/108 */;
}
.study .study-body .study-order .study-btn {
  height: 0.851852rem /* 92/108 */;
  width: 3.333333rem /* 360/108 */;
  background-color: #fa8919;
  border-radius: 20px;
  border: 1px solid #fa8919;
  color: #f5ffff;
  font-size: 0.462963rem /* 50/108 */;
  margin-top: 0.333333rem /* 36/108 */;
}
.study .study-footer {
  position: fixed;
  bottom: 0;
  height: 1.333333rem /* 144/108 */;
}
