.explore {
    width: 10rem;
    height: 100%;
    .explore-header {
        // 上 右 下 左
        padding: 0 .37037rem 0 .37037rem /* 40/108 */;
        position: fixed;
        top: 0;
        height: 1.1730rem;
        z-index: 1;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        .explore-title{
            font-size: .490741rem /* 53/108 */;
            font-weight: bold;
            color: #3b3b3b;
            width: 8.555556rem /* 924/108 */;
        }
        span {
            flex: 1;
            font-size: .675926rem /* 73/108 */;
        }
    }
    .search{
        position: relative;
        top: .166667rem /* 18/108 */;
        padding: 0 .37037rem 0 .37037rem /* 40/108 */;
        height: .907407rem /* 98/108 */;
    }
    .swiper-box{
        position: relative;
        top: .25rem /* 27/108 */;
        padding: 0 .37037rem 0 .37037rem /* 40/108 */;
        height: 2rem;
    }
    .explore-footer {
        position: fixed;
        bottom: 0;
        height: 1.1730rem;
    }
}