.explore {
    width: 10rem;
    height: 100%;
    .explore-header {
        // 上 右 下 左
        padding: 0 .37037rem 0 .37037rem /* 40/108 */;
        position: fixed;
        top: 0;
        height: 1.3333rem;
        z-index: 1;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        .explore-title{
            font-size: .490741rem /* 53/108 */;
            color: #3b3b3b;
            width: 8.555556rem /* 924/108 */;
        }
        span {
            flex: 1;
            font-size: .675926rem /* 73/108 */;
        }
    }
    .search{
        position: relative;
        top: .222222rem /* 24/108 */;
        padding: 0 .37037rem 0 .37037rem /* 40/108 */;
        height: 1.111111rem /* 120/108 */;
    }
    .swiper-box{
        padding: 0 .37037rem 0 .37037rem /* 40/108 */;
        width: 10rem;
        height: 2rem;
    }
}