.explore {
  width: 10rem;
  height: 100%;
}
.explore .explore-header {
  padding: 0 0.37037rem 0 0.37037rem /* 40/108 */;
  position: fixed;
  top: 0;
  height: 1.173rem;
  z-index: 1;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.explore .explore-header .explore-title {
  font-size: 0.490741rem /* 53/108 */;
  font-weight: bold;
  color: #3b3b3b;
  width: 8.555556rem /* 924/108 */;
}
.explore .explore-header span {
  flex: 1;
  font-size: 0.675926rem /* 73/108 */;
}
.explore .search {
  position: relative;
  top: 0.166667rem /* 18/108 */;
  padding: 0 0.37037rem 0 0.37037rem /* 40/108 */;
  height: 0.907407rem /* 98/108 */;
}
.explore .swiper-box {
  position: relative;
  top: 0.277778rem /* 30/108 */;
  padding: 0 0.37037rem 0 0.37037rem /* 40/108 */;
  height: 4.166667rem /* 450/108 */;
}
.explore .explore-peach {
  position: relative;
  height: 1.962963rem /* 212/108 */;
  top: 0.685185rem /* 74/108 */;
  padding: 0 0.37037rem 0 0.37037rem /* 40/108 */;
}
.explore .explore-peach .explore-bg {
  border: 0.018519rem /* 2/108 */ solid #f8f8f8;
  border-radius: 0.092593rem /* 10/108 */;
}
.explore .explore-peach .explore-bg .peach-top {
  margin: 0.259259rem 0.259259rem 0 0.259259rem /* 28/108 */;
  display: flex;
  align-items: center;
}
.explore .explore-peach .explore-bg .peach-top .peach-box {
  width: 0.759259rem /* 82/108 */;
  height: 0.759259rem /* 82/108 */;
  border-radius: 0.37963rem /* 41/108 */;
  overflow: hidden;
}
.explore .explore-peach .explore-bg .peach-top .peach-box img {
  width: 100%;
}
.explore .explore-peach .explore-bg .peach-top .peach-left {
  margin-left: 0.259259rem /* 28/108 */;
  width: 7.6rem;
  font-size: 0.388889rem /* 42/108 */;
  font-weight: bold;
}
.explore .explore-peach .explore-bg .peach-top .peach-right {
  flex: 1;
}
.explore .explore-peach .explore-bg .peach-bottom {
  margin: 0 0.259259rem 0.259259rem 0.259259rem /* 28/108 */;
}
.explore .explore-peach .explore-bg .peach-bottom .peach-title {
  margin-left: 0.222222rem /* 24/108 */;
  font-size: 0.388889rem /* 42/108 */;
}
.explore .explore-live {
  position: relative;
  height: 4.592593rem /* 496/108 */;
  top: 1.092593rem /* 118/108 */;
  padding: 0.685185rem /* 74/108 */ 0.37037rem 0.685185rem /* 74/108 */ 0.37037rem /* 40/108 */;
}
.explore .explore-live .live-top {
  border-left: 2px solid #fbcfb2;
  height: 0.506397rem;
}
.explore .explore-live .live-bottom {
  display: flex;
  height: 3.407407rem /* 368/108 */;
  border-bottom: 0.037037rem /* 4/108 */ solid #f4f4f4;
}
.explore .explore-live .live-bottom .live-bottom-left {
  position: relative;
  top: 0.592593rem /* 64/108 */;
  flex: 1;
}
.explore .explore-live .live-bottom .live-bottom-left .live-bottom-left-top {
  font-size: 0.314815rem /* 34/108 */;
  color: #8a8a8a;
}
.explore .explore-live .live-bottom .live-bottom-left .live-bottom-left-top .live-bottom-left-top-title {
  margin-left: 0.166667rem /* 18/108 */;
}
.explore .explore-live .live-bottom .live-bottom-left .live-bottom-left-center {
  position: relative;
  top: 0.166667rem /* 18/108 */;
  font-size: 0.444444rem /* 48/108 */;
  font-weight: bold;
  color: #444444;
}
.explore .explore-live .live-bottom .live-bottom-left .live-bottom-left-bottom {
  position: relative;
  top: 0.351852rem /* 38/108 */;
  font-size: 0.314815rem /* 34/108 */;
  color: #8a8a8a;
}
.explore .explore-live .live-bottom .live-bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.222222rem /* 240/108 */;
}
.explore .explore-live .live-bottom .live-bottom-right .live-bottom-imgbox {
  border-radius: 0.185185rem /* 20/108 */;
  overflow: hidden;
  height: 2.222222rem /* 240/108 */;
}
.explore .explore-live .live-bottom .live-bottom-right .live-bottom-imgbox img {
  width: 100%;
}
.explore .explore-winter {
  padding: 0 0.37037rem 0 0.37037rem /* 40/108 */;
}
.explore .explore-winter .explore-winter-box {
  width: 9.259259rem /* 1000/108 */;
  height: 2.166667rem /* 234/108 */;
}
.explore .explore-winter .explore-winter-box img {
  width: 100%;
  height: 100%;
}
.explore .explore-market {
  position: relative;
  height: 6.574074rem /* 710/108 */;
  padding: 0.685185rem /* 74/108 */ 0.37037rem 0.685185rem /* 74/108 */ 0.37037rem /* 40/108 */;
}
.explore .explore-market .market-top {
  border-left: 2px solid #fbcfb2;
  height: 0.506397rem;
}
.explore .explore-market .market-bottom {
  height: 5.37037rem /* 580/108 */;
  display: flex;
  justify-content: space-between;
}
.explore .explore-market .market-bottom .market-box {
  width: 2.87037rem /* 310/108 */;
}
.explore .explore-market .market-bottom .market-box .market-img {
  margin-top: 0.5rem /* 54/108 */;
  height: 3.166667rem /* 342/108 */;
  border-radius: 0.185185rem /* 20/108 */;
  overflow: hidden;
}
.explore .explore-market .market-bottom .market-box .market-img img {
  width: 100%;
  height: 100%;
}
.explore .explore-market .market-bottom .market-box .market-title {
  margin-top: 0.166667rem /* 18/108 */;
}
.explore .explore-market .market-bottom .market-box .market-title .market-bottom-t {
  font-size: 0.277778rem /* 30/108 */;
  font-weight: bold;
  color: #646464;
}
.explore .explore-market .market-bottom .market-box .market-title .market-bottom-c {
  font-size: 0.277778rem /* 30/108 */;
  color: #888888;
}
.explore .explore-market .market-bottom .market-box .market-title .market-bottom-b {
  font-size: 0.277778rem /* 30/108 */;
  color: #f89a3d;
}
