.pay{
    width: 100%;
    height: 100%;
    min-height: 6.814815rem /* 736/108 */;
    
    // height: 100vh;
    .pay-header{
        height: 1.333333rem;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 99;
        display: flex;
        .pay-icon {
            margin-left: .37037rem /* 40/108 */;
            // width: 6rem;
            font-size: .425926rem /* 46/108 */;
            color: #9a9a9a;
            display: flex;
            align-items: center;
        }
        .pay-title{
            // width: 6rem;
            font-size: .518519rem /* 56/108 */;
           font-weight: bold;
            color: #353535;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 3.703704rem /* 400/108 */;
        }
    }
    .pay-container{
        width: 100%;
        height: 90vh;
        margin-top: 1.4rem;
        
        .pay-info{
            height: 2.555556rem /* 276/108 */;
            width: 100%; 
            .pay-list{
                width: 100%; 
                display: flex;
                background-color: #f5f8fa;
                border-top:1px solid #d9d9d9 ;
                // justify-content: space-between;
                padding: 16px 15px;
                img{
                    width: 1.777778rem /* 192/108 */;
                    height: 1.777778rem /* 192/108 */;
                    border-radius:5px;
                }  
                .pay-list-right{
                    display: flex;
                    display: inline-block;
                    margin-left: .222222rem /* 24/108 */;
                    .title{
                        color: #333333;
                        font-size: .407407rem /* 44/108 */;
                        font-weight: bolder;
                        line-height: .425926rem /* 46/108 */;
                    }
                    .item-subtitle{
                        font-size: .305556rem /* 33/108 */;
                        color: #888888;
                        margin-top: .277778rem /* 30/108 */;
                    }
                    .item-price{
                        width: 7.3rem;
                        display: flex;
                        justify-content: space-between;
                        line-height: .740741rem /* 80/108 */;
                        .price{
                            font-size: .314815rem /* 34/108 */;
                            color: #ec8d2e;
                            font-weight: 600;
                        }
                        .item-count{
                            font-size: .240741rem /* 26/108 */;
                            color: #333333;
                            font-weight: 600;
                        }    
                    }
                }

            }
        }
        .checkout-panel{
            height: 1.296296rem /* 140/108 */;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .checkout-price{
                background-color: #fff;
                padding: 0 .6875rem 0 0;
                line-height: .925926rem /* 100/108 */;
                 font-size: .333333rem /* 36/108 */;
                .price{
                    font-size: .314815rem /* 34/108 */;
                    color: #ec8d2e;
                    font-weight: 600;
                }
            }
        }
        .pay-method{
            width: 100%;
            // height: 100vh;
            background-color: #f5f8fa;
            .pay-method-h3{
                height: 1.296296rem /* 140/108 */;
                background-color: #f5f8fa;
                font-size: .351852rem /* 38/108 */;
                color: #919191;
                line-height: 1.296296rem /* 140/108 */;
                font-weight: 600;
                padding-left: .425926rem /* 46/108 */;
            }
            .method-list-item{
                height: 1.296296rem /* 140/108 */;
                width: 100%;
                display: flex;
                justify-content: space-between;
                background-color: #ffffff;
                align-items: center;
                line-height: 1.296296rem /* 140/108 */;
                .iconfont{
                    padding-left: .351852rem /* 38/108 */;
                    font-size: .537037rem /* 58/108 */;
                    color: green;
                }
                .pay-method-text{
                    font-size: .37037rem /* 40/108 */;
                    padding-left: .351852rem /* 38/108 */;
                    color: #333333;
                }
                .checkbox{
                    margin-right: .351852rem /* 38/108 */;
                    .iconfont{
                        color: #f98a19;
                    }
                    
                }
            }
            .choose-other-pay{
                margin-top: .166667rem /* 18/108 */;
                height: 1.055556rem /* 114/108 */;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                .choose-label{
                    font-size: .333333rem /* 36/108 */;
                    color: #414141;
                    font-weight: 500;
                }
                .iconfont{
                    color: #999999;
                    font-size: .333333rem /* 36/108 */;
                }
            }
            .coupon-rules{
                font-size: .296296rem /* 32/108 */;
                color: #b2b2b3;
                padding-left: .296296rem /* 32/108 */;
                padding-top: .277778rem /* 30/108 */;
            }
        }
        .current-user{
            background-color: #f5f8fa;
            width: 100%;
            height: 6.8rem;
            color: #b2b2b2;
            font-size: 12px;
            font-weight: 400;
            text-align: center;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            padding-top: 5.8rem;
            .title{
                color: #b2b2b2;
                font-size: 12px;
                font-weight: 400;
                text-align: center; 
            }

        }
        .bottom{
            height: 1.203704rem /* 130/108 */;
            width: 100%;
            position: fixed;
            bottom: 0;
            background-color: #fa8919;
            .bottom-name{
                font-size: .388889rem /* 42/108 */;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                padding: .333333rem /* 36/108 */;
                color: #ffffff;
            }
        }
    }
}