.my-body__itemsBox{
    width: 100%;
    .my-body__itemsBox_wrapper{
        height: 4.185185rem /* 452/108 */;
        background-color: #fff;
        margin-top: .296296rem /* 32/108 */;
        padding-left: .388889rem /* 42/108 */;
        .items{
            height: 1.388889rem /* 150/108 */;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            -webkit-box-align: center;
            z-index: 1;
            border-bottom: 1px solid #f4f4f4;
            padding: 0 .425926rem /* 46/108 */ 0 .092593rem /* 10/108 */;
            .item_lift{
                display: flex;
                align-items: center;
                span {
                    width: .518519rem /* 56/108 */;
                    height: .740741rem /* 80/108 */;
                    margin-right: .5rem /* 54/108 */;
                }
                .name{
                    font-size: .462963rem /* 50/108 */;
                    font-weight: 400;
                    font-family: '微软雅黑';
                    color: #525252;
                }
            }
            .item-right{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .count{
                    font-size: .37037rem /* 40/108 */;
                    color: #868686;
                    margin-right: .185185rem /* 20/108 */;
                }
                .icon2{
                    display: block;
                    font-size: .37037rem /* 40/108 */;
                    color: #b3b3b3;
                    text-align: center;
                }
                
            }
        }
    }
}